<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <strong>入力内容にエラーがあります（<%= object.errors.count %>件）:</strong>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>