/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

/* テーブルのセンタリング */
.center {
  text-align: center;
}

#table-users {
  th {
    vertical-align: middle;
  }

  td {
    vertical-align: middle;
  }
}

/* 基本情報編集モーダルウインドウ */
.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}


/* ユーザー勤怠情報テーブル */
#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

