<% provide(:title, "1ヶ月の勤怠編集") %>
<h1>1ヶ月の勤怠編集</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>1ヶ月の勤怠編集機能は現在開発中です。</p>
    <p>feature/15で完全実装予定です。</p>

    <%= link_to "戻る", user_path(@user), class: "btn btn-default" %>
  </div>
</div>